@import '../styles';

div {
  padding-bottom: 5px;
  padding-top: 5px;
}

h2, h4, h6 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  line-height: 1.5;
}

h2 {
  text-align: center;
  vertical-align: middle;
  margin-left: 20px;
}

.btn {
  box-shadow: none;
  margin: 3px;
}

[class*="blue"] {
  background-color: $blue;
  border-color: $blue;
  color: $white;

  &:active:focus, &:focus, &:hover {
    background-color: $dark-blue;
    border-color: $dark-blue;
  }
}

[class*="pink"] {
  background-color: $pink;
  border-color: $pink;

  &:active:focus, &:focus, &:hover {
    background-color: $dark-pink;
    border-color: $dark-pink;
  }
}
